@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/*lato*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@300;400;700;900&display=swap');
/*DM Sans*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
/*roboto*/

/*----Colors-------*/
$ingrendientsColor:#3282f7;
$appliancesColor: #68D9A4;
$ustensilsColor:#ED6454;

body {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
}

/*--------------------------------------------------------------------*/
/*-header-starts*/
/*--------------------------------------------------------------------*/
header {
    width: 100%;
    margin: auto;

    .logo {

        height: 90px;
        display: flex;
        justify-content: center;

    }
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    margin-top: 17px;
    margin: auto;
    background: #E7E7E7;
    border-radius: 5px;

    .search-area {
        width: 100%;
        position: relative;

        #search {
            border: none;
            outline: none;
            border-radius: 5px;
            width: 100%;
            height: 69px;
            background: #e7e7e7;
            font-size: 18px;
            padding-left: 10px;
        }

        #search-icon {
            position: absolute;
            top: 20px;
            right: 15px;
            font-size: 20px;
        }
    }
}

.messageBoxText {
    width: 100%;
    height: 1.5rem;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    display: none;

    .message {
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .showMessage {
            padding: 0 0 0 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .closeMessageBox {
            margin: 0 10px 0 10px;
            padding: 2px 0 0 2px;
            width: 20px;
            right: 20px;
            justify-self: center;
            align-self: center;

            :hover {
                cursor: pointer;
            }
        }
    }
}

nav {
    .activeFilters {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        padding: 0;
        position: relative;

        #box-select {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .allTagsBox {
                margin: 5px 8px 5px 0;
                color: #FFF;

                .tagsBox {
                    display: flex;
                    flex-direction: row;
                    padding-right: 5px;
                    color: white;

                    .icon {
                        margin-left: 5px;
                    }
                }
            }
        }

        .filtersContainer {
            display: flex;
            flex-direction: row;
            margin: 10px 0;
        }

        .filter {
            width: 12rem;
            height: 4rem;
            margin: 0 15px 0 0;
            border-radius: 5px;
            color: #FFFFFF;
            display: flex;
            justify-content: space-around;
            align-items: center;

            ::placeholder {
                color: #fff;
            }

            .inputFilters {
                width: 100%;
                border: none;
                margin-left: 5px;
                color: #fff;
                outline: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;

                &:hover {
                    white-space: unset;
                    overflow: unset;
                    text-overflow: unset;
                    line-height: 12px;
                }
            }

            #allIngredients,
            #allAppliances,
            #allUstensils {
                width: auto;
                color: #FFFFFF;
                position: absolute;
                top: 62px;
                left: 0px;
                display: grid;
                grid-template-columns: repeat(3, 150px);
                border-radius: 0 0 5px 5px;
                overflow: scroll;
                z-index: 10;
                text-transform: capitalize;
            }
        }

        .box-extend {
            width: 450px;
            border-radius: 5px 5px 0 0;
        }

        .hidden {
            visibility: hidden;
        }

        .selectListIngredient {
            background: $ingrendientsColor;
            position: relative;
            

            #chevronDownIngredient {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #chevronUpIngredient {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #allIngredients {
                // overflow: scroll;
                background: $ingrendientsColor;
            }
        }

        .selectListAppliance {
            background: $appliancesColor;
            position: relative;

            #chevronDownAppliance {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #chevronUpAppliance {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #allAppliances {
                background: $appliancesColor;

            }
        }

        .selectListUstensils {
            background: $ustensilsColor;
            position: relative;

            #chevronDownUstensils {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #chevronUpUstensils {
                position: absolute;
                top: 20px;
                right: 10px;
            }

            #allUstensils {
                background: $ustensilsColor;
            }
        }
    }
}

/*------------------------------------------------------------------------------------------------
Affichages des cartes
----------------------------------------------------------------------------------*/
.cards-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 440px;
        /*height: 368px;*/
        margin: 10px 0 50px 0;


        .header-card {
            width: 440px;
            background: #c7bebe;
            padding: 0;
            margin: 0;
            height: 180px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            object-fit: cover;
        }

        #footerCard {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 50%;
            background: #e7e7e7;
            padding: 15px 0 0 0;
            margin: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}

.title-duration {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0 12px;
    font-size: 18px;
    font-weight: 400;
    position: relative;

    .name {
        padding-right: 8em;
    }

    .duration {
        position: absolute;
        top: 0;
        right: 20px;

        .clock {
            position: absolute;
            top: -2px;
            right: 60px;
        }
    }
}

.ingredient-list {
    display: flex;
    flex-direction: row;

    .content {
        width: 60%;
        text-decoration: none;
        list-style-type: none;
        margin: 1em 0 0 1em;
        padding: 0;
        font-size: 12px;

        .ingredient {
            text-decoration: none;
            width: 100%;

            span {
                font-weight: bold;
            }
        }
    }

    .recette {
        width: 60%;
        font-size: 12px;
        font-family: 'roboto';
        font-weight: 400;
        display: block;
        margin-block-start: 0;
        margin-block-end: 0.5em;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100px;
            -webkit-line-clamp: 7;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}





// Responsive
@media(max-width: 1200px) {
    body {
        max-width: 85%;
    }

    .cards-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            margin-right: 20px;
        }
    }
}


@media(max-width: 1090px) {
    body {
        max-width: 100%;
        margin: auto;
    }

    .card {
        width: 300px;
    }
}



@media(max-width:920px) {
    body {
        width: 90%;
        margin: 10px 3rem;
    }

    .search-area {
        width: 50%;
    }

    .cards-menu {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
        padding: 0;

        .card {
            width: 100%;

            .header-card {
                width: 100%;
                height: 330px;
                margin: auto;

            }
        }
    }

    .title-duration {

        font-size: 25px;
        font-weight: 500;
        position: relative;

        .name {
            padding-right: 8em;
        }

        .duration {
            position: absolute;
            top: 0;
            right: 20px;

            .clock {
                position: absolute;
                top: 4px;
                right: 80px;
            }
        }
    }

    .ingredient-list span {
        font-size: 12px;
    }

    .recette p {
        font-size: 12px;
    }
}


@media(max-width:765px) {
    body {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 550px) {
    .nav{
        .activeFilters{
            display:flex;
            flex-direction:column;

        .filtersContainer{
            width: 100%;
            display:flex;
            flex-direction:column;
            justify-content: center;

            .selectListIngredient{
                width: 100%;
            }
        }
        }
    }

}