@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*lato*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@300;400;700;900&display=swap");
/*DM Sans*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
/*roboto*/
/*----Colors-------*/
body {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
}

/*--------------------------------------------------------------------*/
/*-header-starts*/
/*--------------------------------------------------------------------*/
header .logo {
  width: 100%;
  height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  height: 69px;
  margin-top: 17px;
  margin: auto;
  background: #E7E7E7;
  border-radius: 5px;
}

form .search-area {
  width: 100%;
  position: relative;
}

form .search-area #search {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 69px;
  background: #e7e7e7;
  font-size: 18px;
  padding-left: 10px;
}

form .search-area #search-icon {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 20px;
}

.messageBox {
  width: 100%;
  height: 1.5rem;
  margin: 0 0 1rem 0;
  border-radius: 5px;
  display: none;
}

.messageBox .message {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messageBox .message .showMessage {
  padding: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageBox .message .closeMessageBox {
  margin: 0 10px 0 10px;
  padding: 2px 0 0 2px;
  width: 20px;
  right: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.messageBox .message .closeMessageBox :hover {
  cursor: pointer;
}

nav .activeFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  width: 100%;
  padding: 0;
  position: relative;
}

nav .activeFilters #box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .activeFilters #box-select .allTagsBox {
  margin: 5px 8px 5px 0;
  color: #FFF;
}

nav .activeFilters #box-select .allTagsBox .tagsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 5px;
  color: white;
}

nav .activeFilters #box-select .allTagsBox .tagsBox .icon {
  margin-left: 5px;
}

nav .activeFilters .filtersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

nav .activeFilters .filter {
  width: 12rem;
  height: 4rem;
  margin: 0 15px 0 0;
  border-radius: 5px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .activeFilters .filter ::-webkit-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter :-ms-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter ::-ms-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter ::placeholder {
  color: #fff;
}

nav .activeFilters .filter .inputFilters {
  width: 100%;
  border: none;
  margin-left: 5px;
  color: #fff;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

nav .activeFilters .filter .inputFilters:hover {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
  line-height: 12px;
}

nav .activeFilters .filter #allIngredients,
nav .activeFilters .filter #allAppliances,
nav .activeFilters .filter #allUstensils {
  width: auto;
  color: #FFFFFF;
  position: absolute;
  top: 62px;
  left: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  border-radius: 0 0 5px 5px;
  z-index: 10;
  text-transform: capitalize;
}

nav .activeFilters .box-extend {
  width: 450px;
  border-radius: 5px 5px 0 0;
}

nav .activeFilters .hidden {
  visibility: hidden;
}

nav .activeFilters .selectListIngredient {
  background: #3282f7;
  position: relative;
}

nav .activeFilters .selectListIngredient #chevronDownIngredient {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListIngredient #chevronUpIngredient {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListIngredient #allIngredients {
  background: #3282f7;
}

nav .activeFilters .selectListAppliance {
  background: #68D9A4;
  position: relative;
}

nav .activeFilters .selectListAppliance #chevronDownAppliance {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListAppliance #chevronUpAppliance {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListAppliance #allAppliances {
  background: #68D9A4;
}

nav .activeFilters .selectListUstensils {
  background: #ED6454;
  position: relative;
}

nav .activeFilters .selectListUstensils #chevronDownUstensils {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListUstensils #chevronUpUstensils {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListUstensils #allUstensils {
  background: #ED6454;
}

/*------------------------------------------------------------------------------------------------
Affichages des cartes
----------------------------------------------------------------------------------*/
.cards-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 0 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 440px;
  /*height: 368px;*/
  margin: 0 0 4em 0;
}

.header-card {
  width: 440px;
  background: #c7bebe;
  padding: 0;
  margin: 0;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#footerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
  background: #e7e7e7;
  padding: 15px 0 0 0;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 0 0 12px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.duration {
  position: absolute;
  top: 0;
  right: 20px;
}

.clock {
  position: absolute;
  top: -2px;
  right: 60px;
}

.name {
  padding-right: 8em;
}

.ingredient-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content {
  width: 60%;
  text-decoration: none;
  list-style-type: none;
  margin: 1em 0 0 1em;
  padding: 0;
  font-size: 12px;
}

.ingredient {
  text-decoration: none;
  width: 100%;
}

.ingredient span {
  font-weight: bold;
}

.recette {
  width: 60%;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: 400;
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.recette p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/*# sourceMappingURL=style.css.map */