@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*lato*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@300;400;700;900&display=swap");
/*DM Sans*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
/*roboto*/
/*----Colors-------*/
body {
  max-width: 1440px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
}

/*--------------------------------------------------------------------*/
/*-header-starts*/
/*--------------------------------------------------------------------*/
header {
  width: 100%;
  margin: auto;
}

header .logo {
  margin-top: 5px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 17px;
  background: #E7E7E7;
  border-radius: 5px;
}

form .search-area {
  width: 100%;
  position: relative;
}

form .search-area #search {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 69px;
  background: #e7e7e7;
  font-size: 18px;
  padding-left: 10px;
}

form .search-area #search-icon {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 20px;
}

.messageBoxText {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  border-radius: 5px;
  display: none;
}

.messageBoxText .message {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messageBoxText .message .showMessage {
  padding: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageBoxText .message .closeMessageBox {
  margin: 0 10px 0 10px;
  padding: 2px 0 0 2px;
  width: 20px;
  right: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.messageBoxText .message .closeMessageBox :hover {
  cursor: pointer;
}

nav .activeFilters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  padding: 0;
  position: relative;
}

nav .activeFilters #box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .activeFilters #box-select .allTagsBox {
  margin: 5px 8px 5px 0;
  color: #FFF;
}

nav .activeFilters #box-select .allTagsBox .tagsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 5px;
  color: white;
}

nav .activeFilters #box-select .allTagsBox .tagsBox .icon {
  margin-left: 5px;
}

nav .activeFilters .filtersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

nav .activeFilters .filter {
  width: 12rem;
  height: 4rem;
  margin: 0 15px 0 0;
  border-radius: 5px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .activeFilters .filter ::-webkit-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter :-ms-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter ::-ms-input-placeholder {
  color: #fff;
}

nav .activeFilters .filter ::placeholder {
  color: #fff;
}

nav .activeFilters .filter .inputFilters {
  width: 100%;
  border: none;
  margin-left: 5px;
  color: #fff;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

nav .activeFilters .filter .inputFilters:hover {
  white-space: unset;
  overflow: unset;
  text-overflow: unset;
  line-height: 12px;
}

nav .activeFilters .filter #allIngredients,
nav .activeFilters .filter #allAppliances,
nav .activeFilters .filter #allUstensils {
  width: 100%;
  color: #FFFFFF;
  position: absolute;
  top: 62px;
  left: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  border-radius: 0 0 5px 5px;
  overflow: scroll;
  max-height: 350px;
  z-index: 10;
  text-transform: capitalize;
}

nav .activeFilters .filter #allIngredients .pointer,
nav .activeFilters .filter #allAppliances .pointer,
nav .activeFilters .filter #allUstensils .pointer {
  height: 30px;
  font-size: 14px;
}

nav .activeFilters .box-extend {
  width: 450px;
  border-radius: 5px 5px 0 0;
}

nav .activeFilters .hidden {
  visibility: hidden;
}

nav .activeFilters .selectListIngredient {
  background: #3282f7;
  position: relative;
}

nav .activeFilters .selectListIngredient #chevronDownIngredient {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListIngredient #chevronUpIngredient {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListIngredient #allIngredients {
  background: #3282f7;
}

nav .activeFilters .selectListAppliance {
  background: #68D9A4;
  position: relative;
}

nav .activeFilters .selectListAppliance #chevronDownAppliance {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListAppliance #chevronUpAppliance {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListAppliance #allAppliances {
  background: #68D9A4;
}

nav .activeFilters .selectListUstensils {
  background: #ED6454;
  position: relative;
}

nav .activeFilters .selectListUstensils #chevronDownUstensils {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListUstensils #chevronUpUstensils {
  position: absolute;
  top: 20px;
  right: 10px;
}

nav .activeFilters .selectListUstensils #allUstensils {
  background: #ED6454;
}

/*------------------------------------------------------------------------------------------------
Affichages des cartes
----------------------------------------------------------------------------------*/
.cards-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.cards-menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 430px;
  /*height: 368px;*/
  margin: 25px 0px;
}

.cards-menu .card .header-card {
  width: 440px;
  background: #c7bebe;
  padding: 0;
  margin: 0;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-menu .card #footerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #e7e7e7;
  padding: 15px 0 0 0;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 0 0 12px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.title-duration .name {
  padding-right: 8em;
}

.title-duration .duration {
  position: absolute;
  top: 0;
  right: 20px;
}

.title-duration .duration .clock {
  position: absolute;
  top: -2px;
  right: 60px;
}

.ingredient-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ingredient-list .content {
  width: 60%;
  text-decoration: none;
  list-style-type: none;
  margin: 1em 0 0 1em;
  padding: 0;
  font-size: 12px;
}

.ingredient-list .content .ingredient {
  text-decoration: none;
  width: 100%;
}

.ingredient-list .content .ingredient span {
  font-weight: bold;
}

.ingredient-list .recette {
  width: 60%;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: 400;
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.ingredient-list .recette p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
  -webkit-line-clamp: 7;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (max-width: 1230px) {
  body {
    max-width: 85%;
  }
  nav .activeFilters .filtersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .selectListIngredient,
  .selectListUstensils,
  .selectListAppliance {
    margin: 15px 0 0 0 !important;
    width: 100%;
  }
  .box-extend {
    width: 100% !important;
  }
  .cards-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards-menu .card {
    margin-bottom: 10px;
    width: 48%;
  }
  .cards-menu .card .header-card {
    width: 100%;
  }
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (15%)[6] !important;
        grid-template-columns: repeat(6, 15%) !important;
    max-height: 200px;
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: scroll;
  }
}

@media (max-width: 1090px) {
  body {
    width: 90%;
  }
  .card {
    width: 300px;
  }
}

@media (max-width: 920px) {
  body {
    width: 90%;
  }
  .search-area {
    width: 50%;
  }
  .search-area #search {
    padding: 0 !important;
  }
  nav .activeFilters .filtersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (20%)[5] !important;
        grid-template-columns: repeat(5, 20%) !important;
    font-size: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .cards-menu .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .cards-menu .card .header-card {
    width: 100%;
    height: 200px;
  }
  .title-duration {
    font-weight: 500;
    position: relative;
  }
  .title-duration .name {
    padding-right: 8em;
  }
  .title-duration .duration {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .title-duration .duration .clock {
    position: absolute;
    top: 4px;
    right: 80px;
  }
  .ingredient-list span {
    font-size: 12px;
  }
  .recette p {
    font-size: 12px;
  }
  .filtersContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .activeFilters .selectListIngredient {
    width: 100%;
    margin: 0;
  }
  nav .activeFilters .selectListAppliance {
    width: 100%;
    margin: 0;
  }
  nav .activeFilters .selectListUstensils {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 765px) {
  body {
    width: 100%;
  }
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (25%)[4] !important;
        grid-template-columns: repeat(4, 25%) !important;
    font-size: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 640px) {
  #search {
    font-size: 14px !important;
  }
  .cards-menu .footer-card .title-duration {
    font-size: 14px;
  }
  .messageBoxText .message {
    font-size: 16px;
  }
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (34%)[3] !important;
        grid-template-columns: repeat(3, 34%) !important;
    font-size: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .nav .activeFilters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .activeFilters .filtersContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .activeFilters .filtersContainer .selectListIngredient {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #search-icon {
    display: none;
  }
}

@media (max-width: 450px) {
  body {
    width: 100%;
  }
  header .logo {
    height: 70px;
  }
  #search {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .messageBoxText .message {
    font-size: 12px;
  }
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (50%)[2] !important;
        grid-template-columns: repeat(2, 50%) !important;
    font-size: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards-menu .footer-card .title-duration {
    font-size: 16px;
  }
  .cards-menu .header-card {
    height: 150px !important;
  }
  .ingredient-list .content {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ingredient-list .recette {
    width: 100%;
    padding: 0;
    margin-right: 5px;
  }
}

@media (max-width: 300px) {
  #allIngredients,
  #allAppliances,
  #allUstensils {
    -ms-grid-columns: (100%)[1] !important;
        grid-template-columns: repeat(1, 100%) !important;
    font-size: 12px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #ingredient-search,
  #appliance-search,
  #ustensil-search {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */