body {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

header {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background: blue;
    position: relative;
}

.logo {
    position: absolute;
    left: 40.63%;
    right: 40.53%;
    top: 0%;
    bottom: 50.22%;

    background: #D04F4F;
}

#search {
    border-radius: 5px;
    width: 100%;
    height: 4em;
    margin-top: 3em;
}

.navigation {
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
}

.nav-ingredient,
.nav-device,
.nav-ustensils {
    border: 1px solid blue;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.nav-ingredient {
    background: blue;
    color: white;

}

.nav-device {
    background: green;
    color: white;
}

.nav-ustensils {
    background: red;
    color: white;
}

.cards-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.card {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 380px;
    height: 368px;
    margin: 25px;
}

.header-card {
    width: 380px;
    border: 1px solid rgb(214, 208, 208);
    background: rgb(168, 167, 167);

    height: 180px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(214, 208, 208);
}

.title-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid blue;

}

.ingredient-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    width: 50%;
    text-decoration: none;
}


.ingredient {
    text-decoration: none;
}